//------FONT COLORS---------
@tonal: #394264;
@drk-blu: #252B42;
@white: #fff;
@gray: #737373;
@ornge: #EC5C2E;
@lgt-blu: #31A0FE;




//--------FONT FAMILIES-----------
@monst: 'Montserrat';
@opn-sans: 'Open Sans';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-color {
    background-color: @tonal;
    width: 100%;


    .nav-bar {
        width: 100%;
        padding: 0 7.5vw;
        height: 6vw;
        z-index: 1000;
        display: flex;
        align-items: center;
        background-color: @tonal;
        justify-content: space-between;
        position: fixed;

        .logo {
            display: flex;
            align-items: center;

            h5 {
                padding-left: 0.8vw;
                color: @white;
                font-family: @monst;
                font-size: 1.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5vw;
                letter-spacing: 1px;
            }

        }

        .nav-content {
            display: flex;
            gap: 4vw;

            a {
                text-decoration: none;
                font-family: @monst;
                font-size: 1vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75vw;
                letter-spacing: 0.1vw;
                color: @white;
            }
        }

        .signup {

            button {
                border: none;
                background-color: @white;
                padding: 0.9vw 2vw;
                border-radius: 1.5vw;
                font-family: @monst;
                font-size: 1vw;
                font-weight: 900;
                line-height: 1.75vw;
                letter-spacing: 0.1vw;

                &:hover {
                    background-color: lightgray;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        i {
            display: none;
        }


    }
    .drop-down {
        display: none;
    }
    .xpert-container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding: 6vw 0;
        display: flex;
        align-items: center;

        .left {
            width: 50%;
            height: 100%;

            h1 {
                width: 40vw;
                font-size: 5vw;
                font-style: normal;
                font-weight: 900;
                line-height: 4vw;
                letter-spacing: 0.2vw;
                line-height: 1.2;
                color: @white;
                font-family: @opn-sans;

                span {
                    color: @ornge;
                }
            }

            .info {
                padding-top: 1.56vw;

                li {
                    font-family: @monst;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.25vw;
                    letter-spacing: 0.1vw;
                    color: @white;
                    list-style-type: none;
                }
            }

            .flex-btns {
                display: flex;
                gap: 1.5vw;
                padding-top: 3.3vw;

                .join {
                    button {
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 28px;
                        letter-spacing: 0.1vw;
                        color: @drk-blu;
                        padding: 0.6vw 2.5vw;
                        border-radius: 4vw;
                        border: none;
                        background-color: @ornge;

                        &:hover {
                            background-color: #b84a26;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }

                .start {
                    button {
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 28px;
                        letter-spacing: 0.1vw;
                        color: @drk-blu;
                        padding: 0.6vw 2.5vw;
                        border-radius: 4vw;
                        border: none;
                        background-color: @white;

                        &:hover {
                            background-color: lightgray;
                            transition: all 0.3s ease-in-out;
                        }

                    }
                }
            }

            .ticks {
                padding-top: 3.25vw;
                display: flex;
                gap: 3vw;

                .two-ticks {
                    display: flex;
                    align-items: center;
                    gap: 0.6vw;

                    li {
                        list-style-type: none;
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1vw;
                        color: @white;
                        letter-spacing: 0.1vw;
                    }
                }
            }

        }

        .right {
            width: 50%;
            height: 100%;

            .image-box {
                position: relative;
                height: 100%;
                width: 100%;

                .character {
                    width: 41.92vw;
                    height: 41.92vw;
                    position: relative;
                    z-index: 4;

                }

                .ellipse {
                    width: 32vw;
                    height: 32vw;
                    position: absolute;
                    left: 4.5vw;
                    top: 9vw;

                }

            }
        }

    }


    .card-section {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 85%;
        height: 100%;
        padding: 8vw 0;

        .cards {
            background-color: @white;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25vw;
            padding: 3vw 0;
            border-radius: 1vw;

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
            }

            img {
                height: 5.5vw;
                width: 5.5vw;
            }

            h3 {
                padding-top: 1.25vw;
                font-family: @monst;
                font-size: 1.5vw;
                font-style: normal;
                font-weight: 900;
                line-height: 1.5vw;
                letter-spacing: 0.1vw;
            }

            .text {
                padding-top: 1.25vw;
                text-align: center;

                li {
                    font-family: @monst;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.25;
                    letter-spacing: 0.1vw;
                }
            }
        }
    }
}

.background-color2 {
    background-color: @drk-blu;
    width: 100%;
    height: 100%;

    .explored-container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding: 6.25vw 0;
        padding-bottom: 8vw;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-family: @opn-sans;
                font-size: 4vw;
                font-style: normal;
                width: 45vw;
                color: @white;
                font-weight: 700;
                line-height: 5vw;
                letter-spacing: 0.1vw;
            }

            button {
                border: 1px solid @drk-blu;
                background-color: @drk-blu;
                padding: 1vw 2vw;
                border-radius: 1.5vw;
                font-family: @monst;
                font-size: 1vw;
                font-weight: 900;
                color: @white;
                letter-spacing: 0.1vw;

                &:hover {
                    border: 1px solid white;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .in-cards {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 2.3vw;
            padding-top: 5vw;
            justify-content: space-between;
            column-gap: 2vw;

            .box {
                background-color: @white;
                display: flex;
                padding: 0.5vw 0.5vw;
                border-radius: 0.5vw;
                align-items: center;

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                }

                img {
                    height: 9vw;
                    width: 9vw;
                }

                .content {
                    align-items: center;
                    padding: 1.5vw;

                    h3 {
                        font-family: @monst;
                        font-size: 1.2vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 1.5;
                        letter-spacing: 0.1vw;
                        padding-bottom: 0.2vw;
                    }

                    .author {
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 1.5;
                        letter-spacing: 0.1vw;
                        padding-bottom: 0.2vw;
                        color: @gray;
                    }

                    .stars {
                        padding-bottom: 0.5vw;

                        img {
                            height: 1.2vw;
                            width: 1.2vw;
                        }
                    }

                    li {
                        font-family: @monst;
                        font-size: 0.9vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        letter-spacing: 0.1vw;
                        color: @gray;
                    }
                }
            }
        }

    }

    .workoff-container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding: 8.5vw 0;
        display: flex;
        justify-content: space-between;

        .left {
            width: 40%;
            height: 100%;

            .image-box2 {
                width: 100%;
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .right {
            list-style-type: none;
            padding-top: 5vw;
            width: 50%;
            height: 100%;

            h2 {
                width: 30vw;
                font-family: @opn-sans;
                font-size: 3vw;
                font-style: normal;
                font-weight: 900;
                line-height: 3.2vw;
                letter-spacing: 0.1vw;
                color: @white;
            }

            .text {
                padding-top: 1.5vw;

                li {
                    font-family: @monst;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.5vw;
                    letter-spacing: 0.1vw;
                    color: @white;
                }
            }

            .options {
                padding-top: 2vw;
                display: grid;
                flex-direction: row;
                row-gap: 1.5vw;

                .three-opts {
                    width: 40vw;
                    background-color: @drk-blu;
                    display: flex;
                    align-items: center;
                    padding: 1.5vw;
                    border-radius: 2vw;
                    color: @white;

                    img {
                        height: 5.5vw;
                        width: 5.5vw;
                    }

                    .right-cntnt {
                        padding-left: 1.5vw;

                        h5 {
                            font-family: @monst;
                            font-size: 1.5vw;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 1.5vw;
                            padding-bottom: 0.8vw;
                        }

                        li {
                            font-family: @monst;
                            font-size: 1vw;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1.4;
                            letter-spacing: 0.1vw;

                        }

                    }

                    &:hover {
                        background-color: @white;
                        color: black;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    .joinus-container {
        list-style-type: none;
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding: 6.6vw 0;

        .head-content {
            h2 {
                padding-bottom: 1.5vw;
                font-family: @opn-sans;
                font-size: 4vw;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 0.1vw;
                color: @white;
                text-align: center;
            }

            li {
                font-family: @monst;
                font-size: 1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
                text-align: center;
            }

        }

        .three-buy-cards {
            padding-top: 5.7vw;
            display: flex;
            justify-content: space-around;

            .buy-cards {
                background-color: @tonal;
                border-radius: 0.8vw;
                width: 25.5vw;
                height: 100%;
                padding: 2.5vw;

                .start-card {
                    padding-bottom: 1vw;

                    h5 {
                        font-family: @monst;
                        font-size: 1.2vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 1.5;
                        color: @white;
                    }
                }

                .dollar {
                    display: flex;
                    align-items: center;

                    h4 {
                        font-family: @opn-sans;
                        font-size: 2.5vw;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 1.5;
                        letter-spacing: 0.1vw;
                        padding-bottom: 1vw;
                        border-bottom: 4px solid @lgt-blu;
                        color: @white;
                    }

                    .txt {
                        padding-left: 1vw;

                        .dark {
                            font-family: @monst;
                            font-size: 1vw;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.5;
                            padding-bottom: 0.5vw;
                            color: @white;
                        }

                        .light {
                            font-family: @monst;
                            font-size: 0.8vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1;
                            letter-spacing: 0.1vw;
                            color: @white;
                        }
                    }
                }

                .state {
                    padding-top: 1.2vw;

                    li {
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1;
                        letter-spacing: 0.1vw;
                        color: @white;
                    }
                }

                .r-ticks {
                    padding-top: 2vw;

                    .content-tick {
                        display: flex;
                        align-items: center;
                        gap: 0.5vw;
                        padding-bottom: 1.2vw;

                        img {
                            height: 2.5vw;
                            width: 2.5vw;
                        }

                        li {
                            padding-left: 0.8vw;
                            font-family: @monst;
                            font-size: 1vw;
                            font-style: normal;
                            font-weight: 900;
                            line-height: 1.5;
                            letter-spacing: 0.1vw;
                            color: @white;
                        }
                    }
                }

                .chse-btn {
                    text-align: center;
                    padding-top: 1.5vw;

                    button {
                        padding: 1vw 4vw;
                        border-radius: 2vw;
                        font-family: @monst;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.5;
                        letter-spacing: 0.1vw;
                        background-color: @ornge;
                        color: @white;
                        border: 1px solid @ornge;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                    background-color: @white;

                    .start-card {
                        h5 {
                            color: black;
                        }
                    }

                    .dollar {
                        h4 {
                            color: black;
                        }
                    }

                    .txt {
                        .dark {
                            color: black;
                        }

                        .light {
                            color: @gray;
                        }
                    }

                    .state {
                        li {
                            color: @gray;
                        }
                    }

                    .content-tick {
                        li {
                            color: black;
                        }
                    }

                    .chse-btn {
                        button {
                            color: black;
                            background-color: @white;
                            border: 1px solid black;

                            &:hover {
                                background-color: @ornge;
                                border: 1px solid @ornge;
                                color: @white;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }

        }

    }

    .learners-container {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        padding-top: 6vw ;
        padding-bottom: 10vw;
        position: relative;

        h2 {
            font-family: @opn-sans;
            font-size: 3.5vw;
            font-style: normal;
            font-weight: 700;
            color: @white;
            letter-spacing: 0.1vw;
            text-align: center;
        }

        .profile-box {
            padding-top: 6vw;
            text-align: center;

            .prof-pic {
                padding-bottom: 0.8vw;

                img {
                    height: 8vw;
                    width: 8vw;
                }
            }

            .name {
                font-family: @monst;
                font-size: 1.4vw;
                font-style: normal;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
                padding-bottom: 0.2vw;
            }

            .work {
                font-family: @monst;
                font-size: 1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1vw;
                letter-spacing: 0.1vw;
                color: rgba(255, 255, 255, 0.731);
            }

            .green-prof-stars {
                padding-top: 2vw;

                img {
                    padding-bottom: 1vw;
                }
            }

            li {
                list-style-type: none;
                font-family: @monst;
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
            }
        }

        .left1 {
            position: absolute;
            top: 25%;
            height: 7vw;
            width: 7vw;
        }

        .left2 {
            position: absolute;
            top: 47%;
            left: 10%;
            height: 6.5vw;
            width: 6.5vw;
        }

        .left3 {
            position: absolute;
            top: 70%;
            height: 10vw;
            width: 10vw;

        }

        .right1 {
            position: absolute;
            right: 15%;
            top: 35%;
            height: 7.5vw;
            width: 7.5vw;
        }

        .right2 {
            position: absolute;
            right: 5%;
            top: 60%;
            height: 9vw;
            width: 9vw;
        }
    }

}

.background-color3 {
    background-color: @tonal;
    width: 100%;
    .journey-today {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vw;
        .left-j {
            h2 {
                font-family: @opn-sans;
                font-size: 3.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1; 
                letter-spacing: 0.1vw;
                color: @white;
                padding-bottom: 2vw;
            }
            li {
                list-style-type: none;
                font-family: @monst;
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;

            }
        }
        .right-btn {
            button {
                padding: 1vw 3vw;
                border-radius: 2vw;
                font-family: @monst;
                font-size: 1.2vw;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                background-color: @ornge;
                color: @white;
                border: 1px solid @ornge;

            }
        }
    }
    
}

.background-color4 {
    width: 100%;
    height: 100%;
    background-color: @drk-blu;
    .footer {
        margin: 0 auto;
        width: 85%;
        height: 100%;
        list-style-type: none;
        display: grid;
        grid-template-columns: 3fr 1fr 1.5fr;
        padding: 5vw;
        .three-section1 {
            h3 {
                font-family: @opn-sans;
                font-size: 1.6vw;
                font-style: normal;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
                padding-bottom: 1.5vw;
            }
            li {
                list-style-type: none;
                font-family: @monst;
                font-size: 1.1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;

            }
            .social-icons {
                padding-top: 1.5vw;
                display: flex;
                gap: 2vw;
                i {
                    color: @ornge;
                    font-size: 2.5vw;
                    &:hover {
                        color: @white;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
        .three-section2 {
            h3 {
                font-family: @opn-sans;
                font-size: 1.6vw;
                font-style: normal;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
                padding-bottom: 1.5vw;
            }
            li {
                list-style-type: none;
                font-family: @monst;
                font-size: 1.1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: 0.1vw;
                color: @white;

            }
        }
        .three-section3 {
            text-align: center;
            h3 {
                font-family: @opn-sans;
                font-size: 1.6vw;
                font-style: normal;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 0.1vw;
                color: @white;
                padding-bottom: 1.5vw;
            }
            li {
                list-style-type: none;
                font-family: @monst;
                font-size: 1.1vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8;
                letter-spacing: 0.1vw;
                color: @white;

            }
        }
    }
}
.background-color5 {
    width: 100%;
    height: 100%;
    background-color: @tonal;
    .copyright {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 2vw 0;
        li {
            list-style-type: none;
            list-style-type: none;
            font-family: @monst;
            font-size: 1.1vw;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: 0.1vw;
            color: @white;

        }
    }
}
//--------MEDIA QUERIES FOR 600PX-----------------------
@media (max-width:600px) {

    .background-color {
        width: 100%;


        .nav-bar {
            width: 100%;
            height: 16vw;
            padding: 0 2vw;

            .logo {

                h5 {
                    padding-left: 1.8vw;
                    font-size: 3.5vw;
                }
            }

            .nav-content {
                display: none;
            }

            .signup {
                display: none;
            }

            i {
                display: block;
                font-size: 8vw;
                color: @white;
            }

        }
        .drop-down {
            display: none;
            width: 100%;
            background-color: @tonal;
            padding-top: 16vw;
            position: fixed;
            text-align: center;
            z-index: 100;
            margin: 0 auto;
            .menu-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4vw;
                padding-bottom: 4vw;
                a {
                    text-decoration: none;
                    font-size: 4vw;
                    color: @white;
                    font-family: @opn-sans;
                    font-weight: 600;
                }
    
            }
        }
        .xpert-container {
            padding-top: 20vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;

            .left {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    width: 60vw;
                    font-size: 10vw;
                }

                .info {
                    padding-top: 6vw;

                    li {
                        font-size: 3.5vw;
                        line-height: 1.5;
                    }
                }

                .flex-btns {
                    padding-top: 6vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .join {
                        button {
                            font-size: 3.5vw;
                            padding: 3vw 8vw;
                            border-radius: 7vw;

                        }
                    }

                    .start {
                        padding-top: 5vw;

                        button {
                            font-size: 3.5vw;
                            padding: 3vw 7vw;
                            border-radius: 7vw;

                        }
                    }
                }

                .ticks {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-top: 6vw;

                    .two-ticks {
                        gap: 1.5vw;

                        img {
                            width: 6vw;
                        }

                        li {
                            font-size: 3.5vw;
                        }
                    }
                }
            }

            .right {
                width: 100%;
                height: 100%;
                padding-top: 6vw;

                .image-box {
                    height: 100%;
                    width: 100%;

                    .character {
                        height: 70vw;
                        width: 70vw;
                    }

                    .ellipse {
                        width: 54vw;
                        height: 54vw;
                        left: 19vw;
                        top: 15vw;
                    }
                }
            }
        }


        .card-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 85%;
            height: 100%;
            gap: 8vw;
            padding: 12vw 0;

            .cards {
                width: 100%;
                padding: 12vw 0;
                border-radius: 3vw;

                img {
                    height: 12.5vw;
                    width: 12.5vw;
                }

                h3 {
                    padding-top: 3vw;
                    font-size: 4vw;
                }

                .text {
                    padding-top: 3vw;

                    li {
                        font-size: 3vw;
                        line-height: 1.5;
                    }
                }

            }
        }

    }

    .background-color2 {
        width: 100%;
        height: 100%;

        .explored-container {
            width: 100%;
            height: 100%;
            padding-top: 10vw;

            .head {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                h1 {
                    font-size: 8vw;
                    width: 80vw;
                    line-height: 10vw;
                    padding-bottom: 8vw;
                }

                button {
                    font-size: 3vw;
                    padding: 3vw 8vw;
                    border: 1px solid @white;
                    border-radius: 5vw;

                    &:hover {
                        background-color: @white;
                        color: @drk-blu;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .in-cards {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 8vw;
                row-gap: 8vw;

                .box {
                    padding: 0vw 1.5vw;
                    border-radius: 1.5vw;

                    img {
                        height: 24vw;
                        width: 24vw;
                    }

                    .content {
                        padding: 3vw;

                        h3 {
                            font-size: 4vw;
                            padding-bottom: 1vw;
                        }

                        .author {
                            font-size: 3vw;
                            padding-bottom: 1.5vw;
                        }

                        .stars {
                            padding-bottom: 1.5vw;

                            img {
                                height: 4vw;
                                width: 4vw;
                            }
                        }

                        li {
                            font-size: 2.2vw;
                        }
                    }
                }
            }
        }

        .workoff-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 12vw;

            .left {
                width: 65%;
                height: 100%;

                .image-box2 {
                    width: 100%;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

            }

            .right {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 14vw;

                h2 {
                    width: 85%;
                    font-size: 8vw;
                    line-height: 1;
                    text-align: center;
                }

                .text {
                    padding-top: 6vw;

                    li {
                        font-size: 2.3vw;
                        line-height: 1.4;
                        text-align: center;
                    }
                }

                .options {
                    padding-top: 8vw;
                    row-gap: 5.5vw;

                    .three-opts {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80vw;
                        padding: 2vw;
                        row-gap: 2vw;

                        img {
                            height: 14vw;
                            width: 14vw;
                        }

                        .right-cntnt {
                            padding: 2vw;
                            text-align: center;

                            h5 {
                                font-size: 4vw;
                                padding-bottom: 2.8vw;
                            }

                            li {
                                font-size: 2.5vw;
                            }
                        }

                    }

                }

            }

        }

        .joinus-container {
            padding-top: 14vw;
            width: 100%;
            height: 100%;

            .head-content {
                h2 {
                    font-size: 8vw;
                }

                li {
                    font-size: 2.3vw;
                    padding-top: 4vw;
                }
            }

            .three-buy-cards {
                padding-top: 12vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 8vw;

                .buy-cards {
                    height: 100%;
                    width: 70.5vw;
                    padding: 5.5vw;
                    border-radius: 2vw;

                    .start-card {
                        padding-bottom: 4vw;

                        h5 {
                            font-size: 3vw;

                        }
                    }

                    .dollar {
                        padding-bottom: 4vw;

                        h4 {
                            font-size: 5vw;
                        }

                        .txt {
                            padding-left: 4vw;

                            .dark {
                                font-size: 3vw;
                            }

                            .light {
                                font-size: 2.5vw;
                            }
                        }
                    }

                    .state {
                        li {
                            font-size: 2.5vw;
                        }
                    }

                    .r-ticks {
                        padding-top: 6vw;

                        .content-tick {
                            padding-bottom: 4vw;

                            img {
                                height: 6vw;
                                width: 6vw;
                            }

                            li {
                                font-size: 3vw;
                                padding-left: 2vw;
                            }
                        }
                    }

                    .chse-btn {
                        padding-top: 6vw;

                        button {
                            font-size: 3vw;
                            padding: 2vw 7vw;
                            border-radius: 5vw;
                        }
                    }
                }
            }
        }

        .learners-container {
            width: 90%;
            height: 100%;
            padding: 14vw 0;

            h2 {
                font-size: 8vw;
            }

            .profile-box {
                padding-top: 10vw;

                .prof-pic {
                    padding-bottom: 1vw;

                    img {
                        height: 15vw;
                        width: 15vw;
                    }
                }

                .name {
                    font-size: 4vw;

                }

                .work {
                    font-size: 2vw;
                    padding-top: 1vw;
                }

                .green-prof-stars {
                    padding-top: 6vw;
                    padding-bottom: 4vw;

                    img {
                        height: 5vw;
                        width: 5vw;
                    }
                }

                li {
                    font-size: 3vw;
                }
            }

            .left1 {
                top: 30%;
                height: 13vw;
                width: 13vw;
            }

            .left2 {
                top: 50%;
                left: 8%;
                height: 11vw;
                width: 11vw;
            }

            .left3 {
                top: 80%;
                height: 15vw;
                width: 15vw;

            }

            .right1 {
                right: 15%;
                top: 35%;
                height: 10vw;
                width: 10vw;
            }

            .right2 {
                right: 5%;
                top: 65%;
                height: 15vw;
                width: 15vw;
            }
        }
    }

    .background-color3 {
        width: 100%;
        height: 100%;
        .journey-today {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 14vw 0;
            .left-j {
                h2 {
                    font-size: 8vw;
                    padding-bottom: 4vw;

                }
                li {
                    font-size: 3vw;
                }
            }
            .right-btn {
                padding-top: 4vw;
                button {
                    font-size: 3vw;
                    padding: 2vw 6vw;
                    border-radius: 5vw;
                }
            }
        }
        
    }

    .background-color4  {
        width: 100%;
        height: 100%;
        .footer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 14vw 0;
            .three-section1 {
                h3 {
                    font-size: 5vw;
                    padding-bottom: 2vw;
                }
                li {
                    font-size: 3vw;
                }
                .social-icons {
                    padding-top: 2vw;
                    justify-content: space-around;
                    i {
                        font-size: 6vw;
                    }
                }
            }
            .three-section2 {
                padding-top: 6vw;
                h3 {
                    font-size: 5vw;
                    padding-bottom: 2vw;
                }
                li {
                    font-size: 3vw;
                }
            }
            .three-section3 {
                padding-top: 6vw;
                h3 {
                    font-size: 5vw;
                    padding-bottom: 2vw;
                }
                li {
                    font-size: 3vw;
                }
            }

        }
    }
    .background-color5 {
        width: 100%;
        height: 100%;
        .copyright {
            width: 85%;
            height: 100%;
            padding: 3vw 0;
            li {
                font-size: 3vw;
    
            }
        }
    }
    



}


//--------------MEDIA QUERIES FOR 420PX-------------------
@media (max-width:420px) {

    .background-color {
        width: 100%;


        .nav-bar {
            width: 100%;
            height: 18vw;

            .logo {

                h5 {
                    padding-left: 1.8vw;
                    font-size: 4.8vw;
                }
            }


            i {
                font-size: 10vw;
                color: @white;
            }

        }
        .drop-down {
            padding-top: 26vw;
            padding-bottom: 8vw;
            .menu-list {
                width: 100%;
                gap: 8vw;
                a {
                    font-size: 6vw;
                }
            }
        }

        .xpert-container {
            padding-top: 26vw;
            width: 100%;
            height: 100%;

            .left {
                width: 100%;
                height: 100%;

                h1 {
                    width: 70vw;
                    font-size: 12vw;
                }

                .info {
                    padding-top: 10vw;

                    li {
                        font-size: 3.5vw;
                        line-height: 1.5;
                    }
                }

                .flex-btns {
                    padding-top: 10vw;

                    .join {
                        button {
                            font-size: 4vw;
                            padding: 3.5vw 12vw;
                            border-radius: 7vw;

                        }
                    }

                    .start {
                        padding-top: 6vw;

                        button {
                            font-size: 4vw;
                            padding: 3.5vw 11vw;
                            border-radius: 7vw;

                        }
                    }
                }

                .ticks {
                    padding-top: 10vw;

                    .two-ticks {
                        gap: 1.8vw;

                        img {
                            width: 6vw;
                        }

                        li {
                            font-size: 3.8vw;
                        }
                    }
                }
            }

            .right {
                width: 100%;
                height: 100%;
                padding-top: 10vw;

                .image-box {
                    height: 100%;
                    width: 100%;

                    .character {
                        height: 80vw;
                        width: 80vw;
                    }

                    .ellipse {
                        width: 62vw;
                        height: 62vw;
                        left: 15vw;
                        top: 16vw;
                    }
                }
            }
        }


        .card-section {
            max-width: 85%;
            gap: 10vw;
            padding: 14vw 0;

            .cards {
                width: 100%;
                padding: 13vw 0;
                border-radius: 3vw;

                img {
                    height: 16vw;
                    width: 16vw;
                }

                h3 {
                    padding-top: 6vw;
                    font-size: 6vw;
                }

                .text {
                    padding-top: 6vw;

                    li {
                        font-size: 4vw;
                        line-height: 1.5;
                    }
                }

            }

        }

    }

    .background-color2 {
        width: 100%;
        height: 100%;

        .explored-container {
            width: 100%;
            height: 100%;
            padding-top: 16vw;

            .head {
                padding-bottom: 4vw;

                h1 {
                    font-size: 10vw;
                    width: 98%;
                    line-height: 12vw;
                    padding-bottom: 12vw;
                }

                button {
                    font-size: 4vw;
                    padding: 4vw 10vw;
                    border: 1px solid @white;
                    border-radius: 7vw;

                }
            }

            .in-cards {
                padding-top: 16vw;
                row-gap: 10vw;

                .box {
                    padding: 0vw 1.5vw;
                    border-radius: 1.5vw;

                    img {
                        height: 30vw;
                        width: 30vw;
                    }

                    .content {
                        padding: 3vw;

                        h3 {
                            font-size: 5vw;
                            padding-bottom: 1.2vw;
                        }

                        .author {
                            font-size: 4vw;
                            padding-bottom: 1.5vw;
                        }

                        .stars {
                            padding-bottom: 1.2vw;

                            img {
                                height: 5vw;
                                width: 5vw;
                            }
                        }

                        li {
                            font-size: 3vw;
                        }
                    }
                }
            }

        }

        .workoff-container {
            width: 100%;
            padding-top: 14vw;

            .left {
                width: 85%;
                height: 100%;

                .image-box2 {
                    width: 100%;
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

            }

            .right {
                width: 100%;
                height: 100%;
                padding-top: 14vw;

                h2 {
                    width: 90%;
                    font-size: 10vw;
                    line-height: 1;
                    padding-bottom: 6vw;
                }

                .text {
                    padding: 3vw;
                    text-align: center;

                    li {
                        font-size: 4vw;
                        line-height: 1.4;
                    }
                }

                .options {
                    padding-top: 10vw;
                    row-gap: 6.5vw;

                    .three-opts {
                        width: 90vw;
                        padding: 3vw;
                        row-gap: 4vw;

                        img {
                            height: 17vw;
                            width: 17vw;
                        }

                        .right-cntnt {
                            padding: 2vw;
                            padding-left: 3.5vw;

                            h5 {
                                font-size: 5.5vw;
                                padding-bottom: 3.5vw;
                            }

                            li {
                                font-size: 4vw;
                            }
                        }

                    }

                }

            }

        }

        .joinus-container {
            padding-top: 16vw;
            width: 100%;
            height: 100%;

            .head-content {
                h2 {
                    font-size: 10vw;
                }

                li {
                    font-size: 4vw;
                    padding-top: 6vw;
                }
            }

            .three-buy-cards {
                padding-top: 14vw;
                row-gap: 10vw;

                .buy-cards {
                    height: 100%;
                    width: 81.5vw;
                    padding: 6.5vw;
                    border-radius: 2vw;

                    .start-card {
                        padding-bottom: 6vw;

                        h5 {
                            font-size: 5vw;

                        }
                    }

                    .dollar {
                        padding-bottom: 6vw;

                        h4 {
                            font-size: 7vw;
                        }

                        .txt {
                            padding-left: 6vw;

                            .dark {
                                font-size: 4vw;
                            }

                            .light {
                                font-size: 3vw;
                            }
                        }
                    }

                    .state {
                        li {
                            font-size: 3vw;
                        }
                    }

                    .r-ticks {
                        padding-top: 8vw;

                        .content-tick {
                            padding-bottom: 6vw;

                            img {
                                height: 8vw;
                                width: 8vw;
                            }

                            li {
                                font-size: 4vw;
                                padding-left: 2.5vw;
                            }
                        }
                    }

                    .chse-btn {
                        padding-top: 8vw;

                        button {
                            font-size: 4vw;
                            padding: 2.5vw 8vw;
                            border-radius: 5.5vw;
                        }
                    }
                }
            }
        }

        .learners-container {
            width: 90%;
            height: 100%;
            padding: 16vw 0;

            h2 {
                font-size: 10vw;
            }

            .profile-box {
                padding-top: 12vw;

                .prof-pic {
                    padding-bottom: 1.5vw;

                    img {
                        height: 22vw;
                        width: 22vw;
                    }
                }

                .name {
                    font-size: 7vw;

                }

                .work {
                    font-size: 3vw;
                    padding-top: 1vw;
                }

                .green-prof-stars {
                    padding-top: 8vw;
                    padding-bottom: 6vw;

                    img {
                        height: 8vw;
                        width: 8vw;
                    }
                }

                li {
                    font-size: 4vw;
                }
            }

            .left1 {
                top: 32%;
                height: 15.5vw;
                width: 15.5vw;
            }

            .left2 {
                top: 48%;
                left: 6%;
                height: 13vw;
                width: 13vw;
            }

            .left3 {
                top: 67%;
                height: 17.5vw;
                width: 17.5vw;

            }

            .right1 {
                right: 10%;
                top: 35%;
                height: 14vw;
                width: 14vw;
            }

            .right2 {
                right: 5%;
                top: 60%;
                height: 17vw;
                width: 17vw;
            }
        }

    }

    .background-color3 {
        width: 100%;
        height: 100%;
        .journey-today {
            padding: 14vw 0;
            .left-j {
                h2 {
                    font-size: 10vw;
                    padding-bottom: 6vw;

                }
                li {
                    font-size: 4vw;
                }
            }
            .right-btn {
                padding-top: 6vw;
                button {
                    font-size: 4vw;
                    padding: 3vw 7vw;
                    border-radius: 6vw;
                }
            }
        }
        
    }
    .background-color4  {
        width: 100%;
        height: 100%;
        .footer {
            width: 100%;
            height: 100%;
            padding: 14vw 0;
            .three-section1 {
                h3 {
                    font-size: 7vw;
                    padding-bottom: 3vw;
                }
                li {
                    font-size: 4vw;
                }
                .social-icons {
                    padding-top: 4vw;
                    i {
                        font-size: 8vw;
                    }
                }
            }
            .three-section2 {
                padding-top: 8vw;
                h3 {
                    font-size: 7vw;
                    padding-bottom: 4vw;
                }
                li {
                    font-size: 4vw;
                }
            }
            .three-section3 {
                padding-top: 8vw;
                h3 {
                    font-size: 7vw;
                    padding-bottom: 4vw;
                }
                li {
                    font-size: 4vw;
                }
            }

        }
    }
    .background-color5 {
        width: 100%;
        height: 100%;
        .copyright {
            width: 85%;
            height: 100%;
            padding: 4vw 0;
            li {
                font-size: 4vw;
    
            }
        }
    }




}